root = true

[*.{js,css,html}]
charset = utf-8
indent_style = tab
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false

# Matches the exact files either package.json or .travis.yml
[{package.json,package-lock.json}]
indent_style = space
indent_size = 2